{% extends 'base.html' %}
{% load static %}

{% block page_content %}

<div>
<div class="inline-block">
  <img src="{% static 'img/Spiegelung.jpg' %}" alt="Profile image" width=800 heigt=600>
</div>

<div class="inline-block">
  <p>
    I am Denis Huenniger, mathematician and computer scientist, offering my programming skills for succeeding your projects.
	<br>
	I can support you with app and web development as well as with mathematical modeling and simulation in Python. 
  </p>
</div>
</div>

{% endblock %}
